<p id="notice"><%= notice %></p>

<p>
  <strong>Na:</strong>
  <%= @user.na %>
</p>

<p>
  <strong>Me:</strong>
  <%= @user.me %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
